image: archlinux:latest

stages:
  - test

ansible-syntax-check:
  stage: test
  before_script:
    - pacman -Sy --noconfirm ansible python-pip
    - pip install ansible-lint --break-system-packages
  script:
    - chmod o-w .
    - ANSIBLE_ROLES_PATH=./roles ansible-playbook --syntax-check playbooks/site.yml
