---
# --- Wallpaper Setup ---
# Wallpapers armazenados em ~/.config/wallpapers/ para n찾o poluir o Desktop
- name: Create Wallpapers directory (hidden location)
  file:
    path: "{{ ansible_user_dir }}/.config/wallpapers"
    state: directory
    owner: "{{ default_user }}"
    group: "{{ default_user }}"
    mode: '0755'
    recurse: yes
  tags: [desktop, wallpaper]

- name: Copy Wallpapers
  synchronize:
    src: "{{ role_path }}/files/wallpapers/"
    dest: "{{ ansible_user_dir }}/.config/wallpapers/"
  become: no
  ignore_errors: yes # Don't fail if source is empty
  tags: [desktop, wallpaper]

# --- Firefox User.js ---
- name: Configure Firefox user.js (Catppuccin Mocha)
  copy:
    src: firefox_user.js
    dest: "{{ ansible_user_dir }}/.mozilla/firefox/catppuccin.default/user.js"
  when:  ansible_facts['os_family'] == 'Archlinux' # Simplified check
  ignore_errors: yes # Profile might not exist yet if firefox wasn't run
  tags: [desktop, firefox]

# --- Other Desktop Configs ---
# GTK, QT, etc.

# Nota: Diret처rio files/gtk/ n찾o existe no reposit처rio
# Para adicionar configs GTK personalizadas, crie: roles/desktop/files/gtk/
# - name: Sync GTK Configs
#   synchronize:
#     src: "{{ role_path }}/files/gtk/"
#     dest: "{{ ansible_user_dir }}/.config/gtk-3.0/"
#   become: no
#   ignore_errors: yes
#   tags: [desktop, gtk]

- name: Ensure Kvantum directory exists
  file:
    path: "{{ ansible_user_dir }}/.config/Kvantum"
    state: directory
    owner: "{{ default_user }}"
    group: "{{ default_user }}"
    mode: '0755'
  tags: [desktop, kvantum]

- name: Apply GTK Theme (Catppuccin Mocha)
  command: gsettings set org.gnome.desktop.interface gtk-theme 'Catppuccin-Mocha-Standard-Blue-Dark'
  become: no
  tags: [desktop, theme, apply]

- name: Apply Icon Theme (Papirus)
  command: gsettings set org.gnome.desktop.interface icon-theme 'Papirus-Dark'
  become: no
  tags: [desktop, theme, apply]

- name: Apply Cursor Theme (Catppuccin Mocha)
  command: gsettings set org.gnome.desktop.interface cursor-theme 'Catppuccin-Mocha-Dark-Cursors'
  become: no
  tags: [desktop, theme, apply]
