* {
  background-image: none;
}

window {
  background-color: rgba(30, 30, 46, 0.9);
}

button {
  color: #cdd6f4;
  background-color: #313244;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #45475a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  margin: 20px;
  padding: 40px;
}

button:hover {
  background-color: #89b4fa;
  color: #1e1e2e;
  outline-style: none;
}

button:focus {
  outline-style: none;
}

#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
