* {
  background-image: none;
}

window {
  background-color: rgba(
    30,
    30,
    46,
    0.9
  ); /* Catppuccin Mocha Base com transparência */
}

button {
  color: #cdd6f4;  /* Catppuccin Mocha Text */
  background-color: #313244;  /* Catppuccin Mocha Surface0 */
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  margin: 10px;
  transition:
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

button:focus,
button:active,
button:hover {
  background-color: #89b4fa;  /* Catppuccin Mocha Blue */
  color: #1e1e2e;  /* Catppuccin Mocha Base */
  outline-style: none;
}

#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
